body{
    background-color: aliceblue;
    display: flex;
    flex-flow: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

header a, header h1, header b {
    margin: 0;
}

#Sign_Up {
    text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 10px;
}

#Subscribe{
    position: absolute;
    top: 40px;
    left: 40px;   
    font-size: 20px; 
}

h1{
    color: black;
    font-size: 40px;
    text-align: center;
}

.border{
    border-bottom: solid 2px black;
    margin: 0 0 5px 0;
}

form{
    font-family: verdana, serif;
    font-size: 20px;
}

#button-container {
    display: flex;
    justify-content: center;
}

.grey-square{
    display: flex;
    flex-flow: column;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    height: 350px;
    background-color: rgb(29, 34, 34); 
    color: white; 
    line-height: 1;
}

.text1 {
    margin: 30px 0px 0px 10px;
    display: flex;
    width: 100%;
    font-size: 45px;
    line-height: 1; 
}

.text2 {
    margin: 100px 0px 0px 10px;
    display:flex;
    font-size: 20px; 
    line-height: 1;
}


.buttonDesign{
    align-items: center;
    margin: 0.1%;
    padding: 10px 20px;
    background-color: wheat;
    color: black;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.square{
    flex-flow: row;
    display: flex;
    justify-content: space-between;
}

.white1-square{
    border-radius: 5px;
    outline: auto;
    display: flex;
    margin: 10px;
    outline-color: black;
    outline-width: 2px;
    width: 46%;
    height: 200px;
    background-color: white; 
    color: black; 
    flex-flow: column;
}

img{
    position:flex;
    width: 100px;
    height: 100px;
}

.World2{
    font-size: 15px;
    display: flex;
    margin: 5px 0 0 5px;
    grid-column: 1;
}

.white1-head{
    font-size: 30px;
    margin: 10px 0px 10px 5px;
    line-height: 1;  
 
}

.white1-text{
    margin: 30px 0 0 5px;
    font-size: 15px; 
    width: 60%;
    line-height: 1;
}

.ConRead1{
    font-size: 15px;
    display: flex;
    margin: 10px 0 0 5px;
    align-self: flex-start;
}

.Design2{
    font-size: 15px;
    display: flex;
    margin: 5px 0 0 5px;
}

.white2-head{
    font-size: 30px;
    margin: 10px 0px 10px 5px;
    line-height: 1;    
}

.white2-text{
    margin: 30px 0 0 5px;
    font-size: 15px; 
    width: 60%;
    line-height: 1;
}

.ConRead2{
    font-size: 15px;
    display: flex;
    margin: 10px 0 0 5px;
    display: flex;
}

h2{
    color: black;
    font-size: 30px;
    display: flex;
}

h0{
    position: relative;
    margin: 10px 0px 0px 10px;
    font-size: 25px;
        
}

.line2{
    
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3{
    color: black;
    font-size: 30px;
    position: absolute;
    top: 850px;
    left: 2%;
    }

.Rechteck{
    position: absolute;
    top: 230px;
    width: 62%;
    margin: 0 auto;
}

.txtSpam{
    position: relative;
    top: 730px;
    width: 57%;
    left: 0%;
    margin: 0px auto;
}

.Rechteck2{
    position: absolute;
    top: 800px;
    left: 60%;
    width: 38%;
    margin: 0 auto;
    background-color: lightgrey; 
    color: black; 
}

.AboutnS{
    position: relative;
    left: 1%;
    bottom: 1%;
}

ul{
    position: relative;
    top: 900px;
    left: 60%;
    list-style-type: none;
    padding: 0;
}

link{
    margin: 5px 0;
}

a{
    text-decoration: none;
    color: blue;
}

h4{
    font-size: 30px;
}

h5{
    color: black;
    font-size: 30px;
    position: absolute;
    top: 1150px;
    left: 2%;
}

.Rechteck3{
    position: absolute;
    top: 530px;
    width: 62%;
    margin: 0 auto;
}

.txtSpam2{
    position: relative;
    top: 730px;
    width: 57%;
    margin: 0px auto;
}

aside {
    display: flex;
    flex-flow: column;
}
